<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>register</title>
  </head>
  <body>
    <form method="GET">
      Name : <input type="text" name="name"><br>
      Email : <input type="email" name="email" required><br>
      Password : <input type="password" name="pwd" min="5" required><br><br>
      Birthday : <input type="date" name="date_selector"><br><br>
      Car :
      <select name="cars">
        <option value="volvo">Volvo</option><br>
        <option value="mercedes">Mercedes</option><br>
        <option value="bmw">BMW</option><br>
      </select><br><br>
      <input type="submit" name="submit" value="submit">
      <input type="reset" name="clear" value="clear">
    </form>

  </body>
</html>
